BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 64776d5e38bf

CREATE TABLE users (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    photo_url VARCHAR(2048), 
    xp INTEGER DEFAULT 0 NOT NULL, 
    level INTEGER DEFAULT 1 NOT NULL, 
    total_score INTEGER DEFAULT 0 NOT NULL, 
    ranked_wins INTEGER DEFAULT 0 NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

INSERT INTO alembic_version (version_num) VALUES ('64776d5e38bf') RETURNING alembic_version.version_num;

COMMIT;

